{% extends "layout.html" %}
{% block haeder %} Add question {% endblock %}
{% block content %}
    {% if q_type %}

        <p><strong>New question added.</strong>></p>
        <p><a href="/">Queue list</a></p>

    {% endif %}

    <form action="{{ url_for('questionadd') }}" method="POST" class="form-style-1">
        <li>
            <label for="q_txt_lb">Name</label>
            <input id="q_txt_lb" name="q_txt" type="text" size="100"/>
        </li>
        <li>
            <div class="form-group">
                <label for="q_asc_id">Aspect:</label>
                <select class="form-control" id="q_asc_id">
                    <option value="1">Purpose</option>
                    <option value="2">Balance</option>
                    <option value="3">Performance/Productivity</option>
                    <option value="4">Empowerment/People Management</option>
                    <option value="5">Presence</option>
                    <option value="6">Communication</option>
                    <option value="7">Coaching</option>
                    <option value="8">Traits</option>
                    <option value="9">Personal/Career</option>
                </select>
            </div>
        </li>
        <li>
            <div class="form-group">
                <label for="q_type_id">Question type:</label>
                <select class="form-control" id="q_type_id">
                    <option value="1">Purpose</option>
                    <option value="2">Balance</option>
                    <option value="3">Performance/Productivity</option>
                    <option value="4">Empowerment/People Management</option>
                    <option value="5">Presence</option>
                    <option value="6">Communication</option>
                    <option value="7">Coaching</option>
                    <option value="8">Traits</option>
                    <option value="9">Personal/Career</option>
                </select>
            </div>

        </li>
        <li>
            <!-- We need a submit button to submit a form! -->
            <input type="submit" value="Add"/>
        </li>
    </form>

{% endblock %}