{% extends 'layout.html' %}
{% block haeder %} Add question type {% endblock %}
{% block content %}
    {% if q_type %}

        <p><strong>{{ q_type.name }}</strong> successfully created! Add another below.</p>

    {% endif %}


    <!-- The form action and method correspond to a Flask route -->
    <form action="/typeadd" method="POST" class="form-style-1">
        <li>
            <label for="name_id">Queue type</label>
            <input id="name_id" name="name_field" type="text"/>
        </li>
        <li>
            <label for="price_id">Queue type desc</label>
            <input id="price_id" name="type_field" type="text" size="100"/>
        </li>
        <li>
            <!-- We need a submit button to submit a form! -->
            <input type="submit" value="Add"/>
        </li>
    </form>

    <table class='table table-striped'>
        <tr>
            <thead>
            <th>Question type </th>
            <th>Question type desc</th>
            </tr>
            </thead>
            {% for q_types in q_types %}
                <tr>
                    <td>{{ q_types.q_type_name }} </td>
                    <td> {{ q_types.q_type_desc }} </td>
                </tr>
            {% endfor %}
        </ul>
    </table>

{% endblock %}