<h3>Add Question ID</h3>

{% if q_type %}

<p><strong>{{q_type.name}}</strong> successfully created! Add another below.</p>
<p><a href="/">Queue type</a></p>

{% endif %}


<!-- The form action and method correspond to a Flask route -->
<form action="/add" method="POST">

<label for="name_id">Name</label>
<input id="name_id" name="name_field" type="text" />
<br>
<label for="price_id">Queue type desc</label>
<input id="price_id" name="type_field" type="text" size="100" />
<br>

<!-- We need a submit button to submit a form! -->
<input type="submit" value="Add"/>

</form>