{% extends 'layout.html' %}
{% block haeder %} Welcome pages {% endblock %}
{% block content %}
    <h3>Question type</h3>

    <table class='table table-striped'>
        <tr>
            <thead>
            <th>Question type name</th>
            <th>Question type desc</th>
            </tr>
            </thead>
            {% for q_type in q_types %}
                <tr>
                    <td>{{ q_type.q_type_name }} </td>
                    <td> {{ q_type.q_type_desc }} </td>
                </tr>
            {% endfor %}
        </ul>
    </table>
{% endblock %}